body {
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;

  .logo {
    margin-top: -60px;
    margin-right: 270px;
    width: 150px;
    height: 150px;
  }

  .title {
    position: relative;
    margin-top: -110px;

    @media (max-width: 1120px) {
      position: static;
    }
  }

  hr {
    border-color: black;
  }

  h1 {
    font-size: 50px;
    color: #f03fca;
  }
}
